<footer>
    <div class="container">
      <p><%= __('NodePop 2019. All Rights Reserved') %>.</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="#"><%= __('Privacy') %></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><%= __('Terms') %></a>
        </li>
        <li class="list-inline-item">
          <a href="#"><%= __('FAQ') %></a>
        </li>
      </ul>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/js/new-age.min.js"></script>



</html>
